<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="m-5">
          <h2 class="text-primary">Registro de tareas</h2>
          <br>
          <app-add-task (taskAdded)="addTask($event)"></app-add-task>
          <!-- <app-task-list [tasks]="tasks"></app-task-list>-->
          <app-task-filter (filterChanged)="cambiarFiltro($event)"></app-task-filter>
          <app-task-list [tasks]="tareasFiltradas"></app-task-list>
        </div>
      </div>
    </div>
  </div>
  